/* Navbar */

#navigation-bar .network-menu .menu > .menu-list > .menu-item:first-child,
#navigation-bar .network-menu .menu > .menu-list > .menu-item:first-child {
  margin-left: 15px;
}

#navigation-bar .network-menu .menu > .menu-list > .menu-item:first-child > a:link,
#navigation-bar .network-menu .menu > .menu-list > .menu-item:first-child > a:visited {
    display: block;
    left: 0;
    position: absolute;
    top: -10px;
    text-indent: -100%;
    /*overflow: hidden;*/
    background-image: url(images/pr.svg);
    background-size:contain;
    background-repeat: no-repeat;
    padding-left: 80px !important;
    padding-top: 18px !important;
    height: 64px;
    width: 230px;
}

#navigation-bar .network-menu {
  left: 0;
}


@media screen and (max-width: 749px) {
  #navigation-bar .network-menu .menu > .menu-list > .menu-item:first-child > a:link,
  #navigation-bar .network-menu .menu > .menu-list > .menu-item:first-child > a:visited {
    padding-left: 0 !important;
    width: 80px !important;
    text-indent: -1000px !important;
    overflow: hidden !important;
    display: block;
  }
}

@media screen and (min-width: 750px) {
  #navigation-bar .network-menu .sub-menu {
    min-width: 230px !important;
    top: 54px !important;
    border-top: 1px solid rgba(34, 34, 34, 0);
  }
}


/* Posts List */

/*.posts-list .episode-image,
.posts-list .wp-post-image {
  max-height: 400px;
}*/


.title .primary {
  font-weight: 600;
}


#listpage-header .title {
  padding-bottom: 0;
}


/* Episode */

#episode-header .head-main {
  padding-top: 0;
}

#episode-header .title .primary {
  /*font-size: 3.4rem !important;*/
  font-weight: 600;
  /*letter-spacing: -0.01em;*/
  /*text-transform: uppercase;*/
}

#episode-header .title .secondary {
  display: block;
  position: static;
}


/* Single Page */

/*
.page .page-main .content {
  max-width: 700px;
}*/
